<div width="100%">
	<%= form_for(@item,:html => {class: 'form-horizontal'}) do  |f| %>
		<div>
			<label>Item Category Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.text_field  :name,:value =>f.object.name %>
			<span style="color:red"><%= @errors && @errors[:name] && @errors[:name][0]%></span>
		</div>
		<br/><br/>
		<div>
		<%= f.submit "Submit", class: 'btn btn-theme02'  %>
		</div>
                    
	<%end%>
</div>